fastapi
uvicorn[standard]
sqlalchemy
pandas
pytest
black
flake8
python-multipart
httpx
playwright
requests
langchain
langchain-community
langchain-ollama
langchain-experimental
faiss-cpu
pydantic>=2.0.0
tzdata
